{% from "macros/showOptionsTable.njk" import showOptionsTable %}
{% from "macros/showAdditionalTables.njk" import showAdditionalTables %}

{% macro showOptions(data) %}

{{ showOptionsTable('Primary options', data.params) }}

{{ showAdditionalTables(data.params, "") }}

{% endmacro %}
