{% from "../logo/macro.njk" import ccsLogo -%}

<header class="ccs-header {{ params.classes if params.classes }}" role="banner" data-module="ccs-header"
        {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <div class="ccs-header__container {{ params.containerClasses | default('govuk-width-container') }}">
    <div class="ccs-header__logo">
      <a href="{{ params.homepageUrl | default('https://www.crowncommercial.gov.uk') }}" class="ccs-header__link ccs-header__link--homepage" aria-label="Crown Commercial Service">
        {{ ccsLogo() }}
      </a>
    </div>
    {% if params.serviceName or params.navigationPrimary or params.navigationSecondary  %}
    <div class="ccs-header__content">
    {% if params.serviceName %}
      <a href="{{ params.serviceUrl }}" class="ccs-header__link ccs-header__link--service-name">
        {{ params.serviceName }}
      </a>
    {% endif %}
    {% if params.navigationPrimary or params.navigationSecondary %}
    <nav aria-label="{{ params.navigationLabel | default('Menu') }}" class="ccs-header__navigation {{ 'ccs-header__navigation--no-service-name' if not params.serviceName }} {{ params.navigationClasses if params.navigationClasses }}">
      <button type="button" class="ccs-header__menu-button ccs-js-header-toggle" aria-controls="navigation" aria-label="{{ params.menuButtonLabel | default('Show or hide menu') }}">Menu</button>
      <div id="navigation" class="ccs-header__navigation-lists">
        <ul id="navigation-secondary" class="ccs-header__navigation-secondary-list {{ 'ccs-header__navigation--no-second-list' if not params.navigationPrimary }}">
          {% for item in params.navigationSecondary %}
            {% if item.text or item.html %}
              <li class="ccs-header__navigation-item{{ ' ccs-header__navigation-item--active' if item.active }}">
                {% if item.href %}
                  <a class="ccs-header__link" href="{{ item.href }}"{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>
                {% endif %}
                  {{ item.html | safe if item.html else item.text }}
                {% if item.href %}
                  </a>
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <ul id="navigation-primary" class="ccs-header__navigation-primary-list {{ 'ccs-header__navigation--no-second-list' if not params.navigationSecondary }}">
          {% for item in params.navigationPrimary %}
            {% if item.text or item.html %}
              <li class="ccs-header__navigation-item{{ ' ccs-header__navigation-item--active' if item.active }}">
                {% if item.href %}
                  <a class="ccs-header__link" href="{{ item.href }}"{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>
                {% endif %}
                  {{ item.html | safe if item.html else item.text }}
                {% if item.href %}
                  </a>
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>
    {% endif %}
    </div>
    {% endif %}
  </div>
</header>
