////
/// @group settings/colours
////

@import "../helpers/colour";

// =========================================================
// Generic
// =========================================================

/// Brand colour
///
/// @type Colour
/// @access public

$ccs-brand-colour: ccs-colour("red") !default;

/// Canvas background colour
///
/// Used by the footer component and template to give the illusion of a long
/// footer.
///
/// @type Colour
/// @access public

$ccs-canvas-background-colour: ccs-colour("black") !default;

/// Border colour
///
/// Used in for example borders, separators, rules and keylines.
///
/// @type Colour
/// @access public

$ccs-border-colour: ccs-colour("mid-grey");
